[access "refs/*"]
        owner = group android_device_lenovo_zippo
                label-Verified = -1..+1 group android_device_lenovo_zippo
	forgeAuthor = group android_device_lenovo_zippo
	forgeCommitter = group android_device_lenovo_zippo
	forgeServerAsCommitter = group android_device_lenovo_zippo
	push = +force group android_device_lenovo_zippo
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
